.img{
	height: 100px;
	width: 100px;
	position: absolute;
	left: 150px;
	transform: rotate(180deg);
	transform: translateX(100deg);
	/*top: 250px;*/
}
.img2{
	height: 100px;
	width: 100px;
	position: relative;
	left: 250px;
	/*top: 250px;*/
}