h1{
	font-size: 45px;
	color: red;
	text-align: center;
}
a{
	font-size: 20px;
	color: black;
	background-color: wheat;
	text-align: center;
}
h2{
	font-size: 50px;
	color: yellow;
	text-align: center;
}